<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VodilaASPApp</title>
    <link rel="stylesheet" href="~/css/vodila.css" />
</head>
<body>
    <header class="navbar">
        <img class="logo" src="images/Logo.svg" alt="водила"/>
        <ul>
            <li>
                <a asp-controller="Shippments" asp-action="Index">Перевозки</a>
            </li>
            <li>
                <a>Выплаты</a>
            </li>
            <li>
                <a>Контроль</a>
            </li>
            <li>
                <a>О нас</a>
            </li>
        </ul>
        <div class="profile-btn">
           Profile
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/2505d5f849.js" crossorigin="anonymous"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
