
@{

}
<div class="shippments-main">
    <div class="shippments-header">
        <p>Тысячи <span>удивительных</span> поездок в одном клике от вас!</p>
    </div>

    <div class="map-container">
        Map
    </div>

    <div class="shippments-container">
        1 2 3 4
    </div>
</div>