@model VodilaASPApp.Models.Car

@{
    ViewData["Title"] = "Create";
}

<div class="create-container">
    <h1>Создать машину</h1>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="vodila-input">
                <p>Название</p>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button class="btn-vodila">Создать</button>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
