@model VodilaASPApp.Models.Useraccount

@{
    ViewData["Title"] = "Create";
}

<div class="drivers-edit">
    <h1>Новый водитель</h1>

    <form asp-action="Create">
        <div class="drivers-edit-container">
        <div>
            <div class="vodila-input">
                <p>Фамилия</p>
                <input type="text" name="lastname" />
            </div>
            <div class="vodila-input">
                <p>Имя</p>
                <input type="text" name="firstname" />
            </div>
            <div class="vodila-input">
                <p>Отчество</p>
                <input type="text" name="patronymic" />
            </div>
            <div class="vodila-input">
                <p>Почта</p>
                <input type="email" name="email" />
            </div>
        </div>
        <div>
            <div class="useraccount-image">
                <div class="useraccount-image-container">
                    <img alt="userImg" src="~/images/Logo.svg"/>
                </div>
                <button type="button">Сменить</button>
            </div>
            <div class="vodila-input">
                <p>Дата устройства</p>
                <input type="date" name="employmentdate" />
            </div>
        </div>
    </div>
    <div class="drivers-buttons-container">
        <button class="btn-vodila" type="submit">Сохранить</button>
        <button class="btn-vodila" type="reset">Отмена</button>
    </div>
    </form>
</div>
