@using System.IO
@model IEnumerable<Useraccount>

@{
    ViewData["Title"] = "Edit";
}

<div class="drivers-edit-main">
    <div class="drivers-edit-list">
        <h1>Все <u>водители</u></h1>

        <div class="drivers-edit-list-header">
            <p>ФИО</p>
            <p>Дата устройства</p>
        </div>

        <div class="drivers=list">
            @foreach (Useraccount item in Model)
            {
                <p>
                    @item.Firstname @item.Lastname
                </p>
            }
        </div>
    </div>
    <div class="drivers-edit-container">
        <h1>Выбранный водитель</h1>


    </div>
</div>
