@using System.IO
@model IEnumerable<Useraccount>

@{
    ViewData["Title"] = "Edit";
}

<div class="drivers-edit-main">
    <div class="drivers-edit-list-container">
        <div class="drivers-edit-list-header">
            <h1>Все <u>водители</u></h1>
            <button><i class="fas fa-user-plus"></i></button>
        </div>

        <div class="drivers-edit-list-columns">
            <p>ФИО</p>
            <p>Доход</p>
            <p>Дата устройства</p>
        </div>

        <div class="drivers-edit-list">
            @foreach (Useraccount item in Model)
            {
                <div class="drivers-edit-list-item">
                    <p>@item.FullName</p>
                    <p>???$</p>
                    <p>@item.Employmentdate.ToShortDateString()</p>
                </div>   
            }
        </div>
    </div>
    <div class="drivers-edit-container">
        <h1>Выбранный водитель</h1>

        <div class="edit-useraccount">
            <div>
                <div class="input-useraccount">
                    <p>Фамилия</p>
                    <input type="text" name="lastname" />
                </div>
                <div class="input-useraccount">
                    <p>Имя</p>
                    <input type="text" name="firstname" />
                </div>
                <div class="input-useraccount">
                    <p>Отчество</p>
                    <input type="text" name="patronymic" />
                </div>
                <div class="input-useraccount">
                    <p>Почта</p>
                    <input type="email" name="email" />
                </div>
            </div>
            <div>
                <div class="useraccount-image-container">
                    <img alt="userImg"/>
                    <button type="button">Сменить</button>
                </div>
                <div class="input-useraccount">
                    <p>Дата устройства</p>
                    <input type="date" name="employmentdate" />
                </div>
            </div>
        </div>
    </div>

    <div class="drivers-buttons-container">
        <button>Сохранить</button>
        <button>Удалить</button>
    </div>
</div>
