@using System.IO
@model IEnumerable<Useraccount>

@{
    ViewData["Title"] = "Edit";
}

<div class="drivers-edit-main">
    <div class="drivers-edit-list-container">
        <div class="drivers-edit-list-header">
            <h1>Все <u>водители</u></h1>
            <button><i class="fas fa-user-plus"></i></button>
        </div>

        <table>
            <tr class="drivers-edit-list-table-header">
                <th>ФИО</th>
                <th>Доход</th>
                <th>Дата устройства</th>
            </tr>
            @foreach (Useraccount item in Model)
            {
                <tr class="drivers-edit-list-item">
                    <td>@item.FullName</td>
                    <td>???$</td>
                    <td>@item.Employmentdate.ToShortDateString()</td>
                </tr>
            }
        </table>
    </div>
    <div class="drivers-edit">
        <h1>Выбранный водитель</h1>

        <div class="drivers-edit-container">
            <div>
                <div class="input-useraccount">
                    <p>Фамилия</p>
                    <input type="text" name="lastname" />
                </div>
                <div class="input-useraccount">
                    <p>Имя</p>
                    <input type="text" name="firstname" />
                </div>
                <div class="input-useraccount">
                    <p>Отчество</p>
                    <input type="text" name="patronymic" />
                </div>
                <div class="input-useraccount">
                    <p>Почта</p>
                    <input type="email" name="email" />
                </div>
            </div>
            <div>
                <div class="useraccount-image">
                    <div class="useraccount-image-container">
                        <img alt="userImg" src="~/images/Logo.svg"/>
                    </div>
                    <button type="button">Сменить</button>
                </div>
                <div class="input-useraccount">
                    <p>Дата устройства</p>
                    <input type="date" name="employmentdate" />
                </div>
            </div>
        </div>
    </div>

    <div class="drivers-buttons-container">
        <button>Сохранить</button>
        <button>Удалить</button>
    </div>
</div>
