@model VodilaASPApp.Models.Shipment

@{
    ViewData["Title"] = "Create";
}
<div class="create-container">
    <h1>Создать перевозку</h1>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="vodila-input">
                <p>Машина</p>
                <select asp-for="Carid" class ="form-control" asp-items="ViewBag.Carid"></select>
            </div>
            <div class="vodila-input">
                <p>Маршрут</p>
                <select asp-for="Routeid" class ="form-control" asp-items="ViewBag.Routeid"></select>
            </div>
            <div class="vodila-input">
                <p>Бонус</p>
                <input asp-for="Bonus" class="form-control" />
                <span asp-validation-for="Bonus" class="text-danger"></span>
            </div>
            <div class="vodila-input">
                <p>Отправление</p>
                <input asp-for="Departuretime" class="form-control" />
                <span asp-validation-for="Departuretime" class="text-danger"></span>
            </div>
            <div class="vodila-input">
                <p>Прибытие</p>
                <input asp-for="Arrivaltime" class="form-control" />
                <span asp-validation-for="Arrivaltime" class="text-danger"></span>
            </div>
            <div class="vodila-input">
                <p>Предпочтительное отбытие</p>
                <input asp-for="Prefereddeparturetime" class="form-control" />
                <span asp-validation-for="Prefereddeparturetime" class="text-danger"></span>
            </div>
            <div class="vodila-input">
                <p>Предпочтительное прибытие</p>
                <input asp-for="Preferedarrivaltime" class="form-control" />
                <span asp-validation-for="Preferedarrivaltime" class="text-danger"></span>
            </div>
            @*<div class="vodila-input">
                <table>
                        <tr>
                        @{
                            int cnt = 0;
                            List<VodilaASPApp.Models.ViewModels.AssignedDriverData> drivers = ViewBag.Useraccounts;

                                foreach (var driver in drivers)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedDrivers"
                                               value="@driver.UseraccountId"
                                               @(Html.Raw(driver.Assigned ? "checked=\"checked\"" : "")) />
                                        @driver.UseraccountId @driver.FullName
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
            </div>*@
            <button class="btn-vodila" type="submit">Создать</button>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
